[user]
	name = Daniel Kyojun Ku
	email = d@nielku.com
[core]
	autocrlf = true
	pager = delta
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ha = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
	type = cat-file -t
	dump = cat-file -p
	sh = stash
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
[color]
	ui = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
